/* Right side */
.l-right {
    background-color: var(--bg);
    border-radius: 100px 0 0 100px;
  }
  .gambarLogin {
    max-width: 50rem;
  }
  
  /* Left side */
  .l-left {
    background: var(--primary);
  }
  .titleLogin {
    color: var(--blackwhite);
    font-size: 45px;
    font-weight: 800;
    z-index: 1;
  }
  .emailpasswords {
    color: var(--blackwhite);
    z-index: 1;
  }
  .submit {
    color: var(--blackwhite);
    border: 1px solid white;
  }
  .submit:hover {
    border: 1px solid black;
    background: white;
    color: var(--black);
  }
  .toRegister {
    color: var(--blackwhite);
  }
  .linkToRegister {
    text-decoration: none;
    color: var(--black);
  }
  
  @media (max-width: 1200px) {
    .gambarLogin {
      max-width: 0rem;
    }
    .l-left {
      background: var(--bg);
    }
    .submit {
      background: var(--white);
      color: var(--black);
    }
    .linkToRegister {
      text-decoration: none;
      color: rgb(214, 214, 214);
    }
    .titleLogin {
      color: var(--white);
      font-size: 45px;
      font-weight: 800;
    }
    .emailpasswords {
      color: var(--white);
    }
  
    .toRegister {
      color: var(--white);
    }
  }