#picture1 {
    display: flex;
  }
  .inputPhoto {
    cursor: pointer;
  }
  /* Right side */
  .r-right {
    background: var(--primary);
    z-index: 1;
    border-radius: 100px 0 0 100px;
  }
  
  /* Left side */
  .r-left {
    background: var(--black);
  }
  .titleRegister {
    color: var(--blackwhite);
    font-size: 45px;
    font-weight: 800;
    z-index: 1;
  }
  .emailpassword {
    color: var(--blackwhite);
    z-index: 1;
  }
  .submit {
    background: var(--bg);
    color: var(--white);
  }
  .submit:hover {
    border: 1px solid black;
    background-color: white;
    color: var(--black);
  }
  .toLogin {
    color: var(--blackwhite);
  }
  .linktoLogin {
    text-decoration: none;
    color: var(--black);
  }
  
  @media (max-width: 1200px) {
    .gambarRegister {
      max-width: 0rem;
    }
    .r-right {
      background: var(--bg);
      border-radius: 0 0 0 0;
    }
    .submit {
      background: var(--black);
      color: var(--white);
    }
    .linktoLogin {
      text-decoration: none;
      color: rgb(214, 214, 214);
    }
    .titleRegister {
      color: var(--white);
      font-size: 45px;
      font-weight: 800;
    }
    .emailpassword {
      color: var(--white);
    }
  
    .toLogin {
      color: var(--white);
    }
    .linktoLogin {
      text-decoration: none;
      color: var(--white);
    }
  }
  @media (max-width: 500px) {
    .shadow {
      position: absolute;
      width: 0rem;
      height: 0rem;
      background-color: var(--light);
      filter: blur(100px);
    }
  }